*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}

body{
    background-color: #F6F8F9;
}

.bgWhite{
    background-color: white;
}

/* header */

header{
    height:80px;
}

#logo, h1{
    display:inline-block;
    float: left;
}

#logo{
    height: 50px;
    margin:15px 5px 15px 15px;
}

h1{
    line-height: 80px;
    height: 80px;
}

/* main */

main{
    width: 75%;
    margin: 50px auto 15px;
}

/* top buttons */

.topButtons{
    padding: 20px 0px 10px 50px;
    margin-bottom: 3px;
}

.blueButton{
    border:1px solid #47ADF1;
    background-color: #47ADF1;
    display: inline-block;
    color:white;
}

.greyButton{
    display: inline-block;
    border: 1px solid #CAD0D4;
    color: #CAD0D4;
}

.greyButton, .blueButton{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

/* lists */

.lists{
    padding:50px 70px;

}

.singleList{
    padding-bottom: 40px;
}

li{
    list-style-type: none;
    line-height:40px;
    height: 40px;
}

.listh3{
    list-style-type: disclosure-open;
    margin-left: 20px;
}

/* entities */

.redCross:before{
    content:'\2573';
    color: red;
    font-size:8px;
    border:1px solid red;
    border-radius: 100%;
    padding:4px 6px;
    margin-right: 10px;
}

.checked:before{
    content:'\2714';
    color: #81CCBA;
    font-size:10px;
    border:1px solid #81CCBA;
    border-radius: 100%;
    padding:3px 6px;
    margin-right: 10px;
}

/* span */

span{
    font-size: 10px;
    color:white;
    border:1px white solid;
    padding: 5px;
    border-radius: 10px;
}

.editorial{
    background-color: #47ADF1;
}

.goals{
    background-color: #9C72E4;
}

.recruiting{
    background-color: #64C0A9;
}

.mobile{
    background-color: #F29E33;
}

.website{
    background-color: #D863A1;
}

.sales{
    background-color: #B0C926;
}